body{
  background:#999999;
  font-family:arial;
}

h1{
  color:black;
  text-align: center;
  
}

a{
  color:black;
}

ul{
  background: #666666;
  color:white;
  padding: 10px;

}

.title{
  text-align:center;
  padding: 15px;
}

#landing{
  text-align:left;
}

#container{
  text-align: center;
  background: #666666;
  padding: 15px;

}

.container{
  text-align: center;
  background: #666666;
  padding: 15px;
}

img {
  border:5px solid #000000;
  background: #ffffff;
}

figcaption:after{
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
}