body{
  background: #e9e3e6;;
  font-family:arial;
}

h1{
  color:black;
  text-align:center;
  vertical-align: middle;
}

a{
  color:black;
}

ul{
  background: #666666;
  color:#e9e3e6;
  padding: 10px;

}

.title{
  text-align:center;
  padding: 15px;
}

#container{
  text-align: center;
}

.container{
  text-align: center;
}

img {
  border: 10px solid #000000;
  background: #E9E3E6;
}

figcaption:after{
  position:absolute;
  bottom:0;
  left:0;
  width:50%;
}
h3{
  text-align: center;
}

h2{
  text-align: center;
}

.borderedtitles{
  width: 40%;
  border: 15px solid black;
  padding: 20px;
  margin: auto;
}