body{
  background:#999999;
  font-family:arial;
}

h1{
  color:black;
  text-align: center;
}

a{
  color:white;
}

ul{
  background: #666666;
  color:white;
  padding: 10px, 10px, 100px,;
}

.title{
  text-align:center;
  padding: 15px;
}

#landing{
  text-align:left;
}

#container{
  text-align: center;
  background: #666666;
  padding: 15px;

}

.container{
  text-align: center;
  background: #666666;
  padding: 15px;
}
#page{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}
body{
  grid-row-start: 1;
  grid-row-end: 2;
}
header{
  grid-column-start: 1;
  grid-column-end: 5;
}